// Nova Tool CSS
@import "../css/grapes.min.css";
@import "../css/tooltip.css";

.gjs-am-file-uploader, .gjs-am-assets-header {
  display: none !important;
}

.gjs-am-assets-cont {
  width: 100% !important;
}

.gjs-trt-trait .gjs-label {
  width: 100% !important;
  margin-right: 5px !important;
}

.gjs-trt-trait .gjs-field {
  width: 100% !important;
  padding-right: 10px !important;
}
